<!DOCTYPE html>
<head>
    <title>Hello GameController!</title>
    <link href="{{ asset('css/game.css') }}" rel="stylesheet">
    <link href="{{ asset('css/popup.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
{% block body %}

    <div class="container">
        <div class="row">
            {% for notice in app.flashes('notice') %}
                <div class="notice-container col-md-12">
                    {{ notice }}
                </div>
            {% endfor %}
        </div>
        <div class="row text-center">
            <div class="col-md-8">
                <div class="row mt-3">
                    <div class="col-md-3 text-primary">
                        Game Type: {% if gameType|length > 0 %}{{ gameType }}{% endif %}
                    </div>
                    <div class="col-md-6 text-primary">
                        Finish: {% if gameEndType|length > 0 %}{{ gameEndType }}{% endif %}
                    </div>
                    <div class="col-md-3 text-primary">
                        Leg {% if mainPlayerData.legThrows|length > 0 %}{{ 3-mainPlayerData.legThrows }}{% endif %}/3
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-3">
                        Name: {% if mainPlayerData.name|length > 0 %}{{ mainPlayerData.name }}{% endif %}
                    </div>
                    <div class="col-md-3">
                        Bull
                    </div>
                    <div class="col-md-3">
                        20
                    </div>
                    <div class="col-md-3">
                        {% if mainPlayerData.legThrows|length > 0 %}{{ 3-mainPlayerData.legThrows }}{% endif %}
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-3">
                        Points: <span
                                id="points">{% if mainPlayerData.pointsTotal|length > 0 %}{{ mainPlayerData.pointsTotal }}{% endif %}</span>
                    </div>
                    <div class="col-md-3">
                        0 S
                    </div>
                    <div class="col-md-3">
                        Throws
                        left: {% if mainPlayerData.legThrows|length > 0 %}{{ mainPlayerData.legThrows }}{% endif %}
                        <img src="{{ asset('images/darts_arrow.png') }}" alt="darts arrow" class="image"/>
                    </div>
                    <div class="col-md-3">
                        5
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-3">
                        Average: {% if mainPlayerData.pointsAverage|length > 0 %}{{ mainPlayerData.pointsAverage }}{% endif %}
                    </div>
                    <div class="col-md-3">
                        Left: <span
                                id="pointsleft">{% if (endGamePointsRequired|length > 0) %}{{ endGamePointsRequired }}{% endif %}</span>
                    </div>
                    <div class="col-md-3">
                        -
                    </div>
                    <div class="col-md-3">
                        -
                    </div>

                </div>
                <div class="row mt-3">
                    <div class="col-md-3">{% if (mainPlayerData.endGameThrowDoubleSuggestion|length > 0) %} End combination:
                            <span
                                    id="pointsleft">{{ mainPlayerData.endGameThrowDoubleSuggestion }}</span>
                        {% endif %}
                    </div>
                    <div class="col-md-3">-</div>
                </div>
            </div>
            <div class="col-md-4 mt-3">
                {% if otherPlayersData|length > 0 %}
                    {% for otherPlayerData in otherPlayersData %}
                        <div class="cell cell-1 cell-title">{{ otherPlayerData.name }}</div>
                        <div class="cell cell-2">{{ otherPlayerData.pointsTotal }}</div>
                        <div class="cell cell-2">{{ otherPlayerData.pointsAverage }}</div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-12 mt-3  mb-3">
                <label for="single">
                    <input type="radio" id="single" name="optionPoints"
                           value="single" checked="checked" onclick="setMultipleValue(1);">Single
                </label>
                <label for="double">
                    <input type="radio" id="double" name="optionPoints"
                           value="double" onclick="setMultipleValue(2);">Double
                </label>
                <label for="triple">
                    <input type="radio" id="triple" name="optionPoints"
                           value="triple" onclick="setMultipleValue(3);">Triple
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3">
                {% for i in 0..6 %}
                    {% for j in 1..3 %}
                        <div class="col-md-12">
                            {% if (3 * i + j) != 21 %}
                                <form method="POST" action="/add/throw/{{ game_id }}/{{ player_id }}">
                                    <input type="hidden" name="player_id" value="{{ player_id }}">
                                    <input type="hidden" name="game_id" value="{{ game_id }}">
                                    <input type="hidden" name="points" value="{{ 3 * i + j }}">
                                    <input type="hidden" name="double" class="doubleOption" value="">
                                    <input type="hidden" name="triple" class="tripleOption" value="">
                                    <button type="submit" class="button  button-small"
                                            id="{{ 3 * i + j }}">{{ 3 * i + j }}</button>
                                </form>
                            {% else %}
                                <form method="POST" action="/add/throw/{{ game_id }}/{{ player_id }}">
                                    <input type="hidden" name="player_id" value="{{ player_id }}">
                                    <input type="hidden" name="game_id" value="{{ game_id }}">
                                    <input type="hidden" name="points" value="25">
                                    <input type="hidden" name="double" class="doubleOption" value="">
                                    <input type="hidden" name="triple" class="tripleOption" value="">
                                    <button type="submit" class="button  button-small"
                                            id="25">25
                                    </button>
                                </form>
                            {% endif %}
                        </div>
                    {% endfor %}
                {% endfor %}
                <div class="col-md-12">
                    <form method="POST" action="/add/throw/{{ game_id }}/{{ player_id }}">
                        <input type="hidden" name="player_id" value="{{ player_id }}">
                        <input type="hidden" name="game_id" value="{{ game_id }}">
                        <input type="hidden" name="points" value="0">
                        <input type="hidden" name="double" class="doubleOption" value="">
                        <input type="hidden" name="triple" class="tripleOption" value="">
                        <button type="submit" class="button  button-large" id="0">Daneben</button>
                    </form>
                    <form method="POST" action="/undo/throw/{{ game_id }}/{{ player_id }}">
                        <input type="hidden" name="player_id" value="{{ player_id }}">
                        <input type="hidden" name="game_id" value="{{ game_id }}">
                        <button type="submit" class="button  button-large" id="undoButton"
                                onclick="return confirm('Are you sure you want to undo last throw ?');">Undo
                        </button>
                    </form>
                </div>
            </div>


        </div>
    </div>

    <div class="modal" tabindex="-1" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <p class="success-message"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" id="finish_game" onclick="location.href ='/'" class="btn btn-primary">Finish
                        Game
                    </button>
                    <button type="button" id="continue_game" class="btn btn-secondary">Continue Game</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


<script>
    let points = document.getElementById("points");
    let undoButton = document.getElementById("undoButton");
    if (points.innerHTML === 0) {
        undoButton.setAttribute('disabled', '');
    } else {
        undoButton.removeAttribute('disabled');
    }

    function setMultipleValue(value) {
        switch (value) {
            case 1:
                setMultiplierOfThrow(0, 'doubleOption');
                setMultiplierOfThrow(0, 'tripleOption');
                break;
            case 2:
                setMultiplierOfThrow(1, 'doubleOption');
                setMultiplierOfThrow(0, 'tripleOption');
                break;
            case 3:
                setMultiplierOfThrow(0, 'doubleOption');
                setMultiplierOfThrow(1, 'tripleOption');
                break;
        }
    }

    function setMultiplierOfThrow(param, className) {
        var list = document.getElementsByClassName(className);
        var n;
        var listLength = list.length;

        //there is no 75 points available
        if (param === 1 && className === 'tripleOption') {
            listLength = listLength - 1;
        }

        for (n = 0; n < listLength; ++n) {
            list[n].value = param;
        }
    }

    //pop-up
    let modal = document.getElementById("myModal");
    let continueGameButton = document.getElementById("continue_game");
    let successMessage = document.getElementsByClassName("success-message")[0];

    {% for success in app.flashes('success') %}
    modal.style.display = "block";
    successMessage.innerHTML = '{{ success }}';
    {% endfor %}

    continueGameButton.onclick = function () {
        modal.style.display = "none";
    }

</script>