<!DOCTYPE html>
<html lang="en">
<head>
    <title>Player management screen</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<table> <!-- Player Management Screen -->
    <h1>Player Management Screen</h1>
    <thead>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Nick-Name</th>
        <th>Games Played</th>
        <th>Average Throws</th>
        <th>Edit a player</th>
        <th>Delete a player</th>
    </tr>
    </thead>
    <tbody>
    {% if players|length > 0 %}
        {% for player in players %}
            <tr>
                <td>{{ player.firstname }}</td>
                <td>{{ player.lastname }}</td>
                <td>{{ player.nickname }}</td>
                <td>{{ player.totalGamesPlayed }}</td>
                <td>{{ player.agerageThrows }}</td>
                <td>
                    <a href="/edit/player/{{ player.id }}">Edit</a>
                </td>
                <td>
                    <a href="/player/delete/{{ player.id }}" onclick="return confirm('Are you sure you want to delete this player?');">Delete</a>
                </td>
            </tr>
        {% endfor %}
    {% endif %}
    <tr>
        <td>
            <form>
                <button type="submit" id="new_player" formaction="/addPlayerForm">Add new player</button>
            </form>
        </td>
        <td>
            <form>
                <button type="submit" id="new_game" formaction="/">New game</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>