<!DOCTYPE html>
<html lang="en">
<head>
    <title>Welcome</title>
</head>
<body>
<form method="POST" action="/createGame" id="form1">
    <table>
        <caption></caption>
        <tr>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <td>
                <h1>Game Type</h1>
                {% if games|length > 0 %}
                    <ul>
                        {% for game in games %}
                            <label for="{{ game.type|e }}"> <input type="radio" id="{{ game.type|e }}" name="games" value="{{ game.type|e }}" {% if game.checked %} checked="checked"{% endif %}>{{ game.type|e }}</label><br>
                        {% endfor %}
                    </ul>
                {% endif %}
            </td>
            <td>
                <h1>Players</h1>
                {% if players|length > 0 %}
                    <ul>
                        {% for player in players %}
                            <input type="checkbox" id="{{ player.firstname|e }} {{ player.lastname|e }}" name="player[]"
                                   value="{{ player.id|e }}">
                            <label for="{{ player.firstname|e }} {{ player.lastname|e }}">{{ player.firstname|e }} {{ player.lastname|e }}</label><br>
                        {% endfor %}
                    </ul>
                {% endif %}
            </td>
            <td>
                <h1>Game-End-Option</h1>
                {% if gameEnds|length > 0 %}
                    <ul>
                        {% for game in gameEnds %}
                            <label for="{{ game.type|e }}"><input type="radio" id="{{ game.type|e }}" name="gameEnds" value="{{ game.type|e }}" {% if game.checked %} checked="checked"{% endif %}> {{ game.type|e }}</label><br>
                        {% endfor %}
                    </ul>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>
                <button type="submit" form="form1" value="Submit" onclick="return areSelectedPlayers();">Start new game</button>
            </td>
            <td>
                <button type="button" id="new_player" onclick="location.href='/addPlayerForm'">Add player to database</button>
            </td>
            <td>
                <button type="button" id="edit_players" onclick="location.href ='/player-management'">Edit Players</button>
            </td>
        </tr>
    </table>
</form>
<script>
    function areSelectedPlayers() {
        var checkboxes = 0;
        var cbs = document.getElementsByTagName('input');
        for (var i = 0; i < cbs.length; i++) {
            if (cbs[i].type === 'checkbox' && cbs[i].name === 'player[]' && cbs[i].checked) {
               checkboxes++;
            }
        }

        if(checkboxes < 2)
        {
            alert('Please select at least 2 players before you start the game');
            return false;
        }

        return true;
    }
</script>
</body>
</html>