<!DOCTYPE html>
<html>
<head>
    <title>Welcome</title>
</head>
<body>
<form method="POST" action="/createGame" id="form1">
    <table>
        <tr>
            <td>
                <h1>Game Type</h1>
                {% if games|length > 0 %}
                    <ul>
                        {% for game in games %}
                            <input type="radio" id="{{ game.type|e }}" name="games"
                                   value="{{ game.type|e }}" {% if game.checked %} checked="checked"{% endif %}>
                            <label for="huey">{{ game.type|e }}</label><br>
                        {% endfor %}
                    </ul>
                {% endif %}
            </td>
            <td>
                <h1>Players</h1>
                {% if players|length > 0 %}
                    <ul>
                        {% for player in players %}
                            <input type="checkbox" id="{{ player.name|e }}" name="player[]"
                                   value="{{ player.id|e }}">
                            <label for="{{ player.name|e }}"> {{ player.name|e }}</label><br>
                        {% endfor %}
                    </ul>
                {% endif %}
            </td>
            <td>
                <h1>Game-End-Option</h1>
                {% if gameEnds|length > 0 %}
                    <ul>
                        {% for game in gameEnds %}
                            <input type="radio" id="{{ game.type|e }}" name="gameEnds"
                                   value="{{ game.type|e }}" {% if game.checked %} checked="checked"{% endif %}>
                            <label for="huey">{{ game.type|e }}</label><br>
                        {% endfor %}
                    </ul>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>
                <button type="submit" form="form1" value="Submit">Start new game</button>
            </td>
            <td>
                <button type="button" id="new_player" onclick="location.href='/addPlayerForm'">Add player to database</button>
            </td>
            <td>
                <button type="button" id="edit_players" onclick="location.href ='/player-management'">Edit Players</button>
            </td>
        </tr>
    </table>
</form>
</body>
</html>